main {
    margin: 1em;
}

main > form {
    display: flex;
    justify-content: center;
    align-items: center;
}

main > form > input {
    border: none;
    border-radius: 30.5px;
    background: #363636;
    width: 45%;
    height: 2.5em;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0em 1em;
}

main > form > div {
    width: 2.2em;
    height: 2.2em;
    border-radius: 50px;
    background-color: #363636;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > form > div > img {
    height: 1em;
    width: 1em;
}

.main--section {
    display: flex;
}

.main--grid {
    display: grid;
    grid-template-columns: auto auto;
    height: 75vh;
    width: 65%;
    margin: 1em 0em;
    gap: 30px;
    overflow: scroll;
}

.main--grid::-webkit-scrollbar {
    display: none;
}

.main--ads {
    height: 75vh;
    border: 5px solid red;
    width: 35%;
    margin: 1em 0em;
    margin-left: 0.5em;
}

.main--card {
    height: 12em;
    border-radius: 20px;
    background-image: url(img/samosa.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 450px){
    main > form > input {
        width: 70%;
    }
}