main {
    margin: 1em;
}

main > form {
    display: flex;
    justify-content: center;
    align-items: center;
}

main > form > input {
    border: none;
    border-radius: 30.5px;
    background: #363636;
    width: 45%;
    height: 2.5em;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0em 1em;
}

main > form > div {
    width: 2.2em;
    height: 2.2em;
    border-radius: 50px;
    background-color: #363636;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > form > div > img {
    height: 1em;
    width: 1em;
}

.main--section {
    display: flex;
    justify-content: space-between;
}

.main--grid {
    display: grid;
    grid-template-columns: auto auto;
    height: 75vh;
    width: 65%;
    margin: 1em 0em;
    gap: 30px;
    overflow: scroll;
}

.main--grid::-webkit-scrollbar {
    display: none;
}

.main--ads {
    height: 75vh;
    width: 32%;
    margin: 1em 0em;
    margin-left: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main--card {
    height: 12em;
    border-radius: 20px;
    background-image: url(img/samosa.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}

.main--card--background {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #212121 100%);
}

.main--card > p{
    color: white;
    font-weight: bold;
    z-index: 1;
}

.add--button{
    height: 2em;
    width: 2em;
    background-color: #555555;
    border-radius: 100%;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.v--pill{
    background-color: white;
    width: 3px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
}

.h--pill{
    background-color: white;
    width: 20px;
    height: 3px;
    border-radius: 10px;
    position: absolute;
}

.main--ads > div {
    width: 100%;
    background-color:#FF8956;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main--ads--section1{
    height: 60%;
}

.main--ads--section2{
    height:35%;
}

.main--ads--group{
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 55px;
}
.main--ads--img {
    height: 100%;
    width: 30%;
    background: #363636;
    border-radius: 15px;   
}

.main--ads--subgroup{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 65%;
}

.main--ads--subgroup > div {
    height: 6px;
    border-radius: 30px;
    background: #363636;
}

.main--ads--title {
    width: 45%;  
}
.main--ads--subtitle {
    width: 90%;  
}

@media only screen and (max-width: 450px){
    main > form > input {
        width: 70%;
    }
}